

<section >
    <div class="row d-md-flex justify-content-md-center back mt-5 mb-5">
    <div class="col-12 col-md-4 text text-left">
       <div class="row d-flex justify-content-center">
            <div class="col-8 col-md-12 ">
                <h2>Iluminamos el crecimiento de tu inmobiliaria con marketing de verdad.</h2>
            </div>
            <div class="col-3 d-flex justify-content-center d-md-none">
                <img src="assets/logo.svg" class="marci-mkt-phone align-self-center" alt="logo de la marci marketing">
            </div>

            <div class="col-12 d-flex flex-column mt-5">
                <p>Publicidad paga,  analisis de datos, estrategia largoplacista y presencia digital para crecer toda la vida.</p>
                <div class="d-flex justify-content-center justify-content-md-start">
                        <button class="btn btn-main me-2">
                            <a 
                                class="link-wp" 
                                href="https://wa.me/{{phone}}?text=Hola,%20quiero%20más%20info" 
                                target="_blank"> 
                                Tengo una consulta
                            </a>
                        </button>
                        <a href="#servicios" class="btn btn-second">Ver servicios</a>
                </div>
            </div>
       </div>
    </div>
    <div class="d-none d-md-block col-md-4 d-flex justify-content-center">
        <img src="assets/logo.svg" class="marci-mkt d-flex align-self-center" alt="logo de la marci marketing">
    </div>
    <!-- Carousel container images url in component.ts
    <div class="carousel-container align-content-center">
        <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let url of products; let i = index" >
                <div class="picsum-img-wrapper d-flex justify-content-center">
                    <img img="img-fluid" src="{{url.img}}" alt=""/>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>-->
</div>
</section>
