.footer-full {
    /* elimina el padding del container padre */
  background: #e0e0e0;   /* gris claro */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.img-square {
  width: 20px;     /* tu tamaño */
  height: 20px;    /* igual para cuadrado */
  object-fit: contain; /* mantiene proporción sin deformar */
}

.list-unstyled li {
  display: flex;
  align-items: center;   /* centra verticalmente */
  gap: 10px;             /* espacio entre icono y texto */
}

.img-square {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
h5 {
  font-size: 2rem; /* más grande */
  font-weight: 600; /* opcional */
  font-weight: bold;
}
