<section id="workflow" class="contenedor d-flex justify-content-center py-5">
    <div class="col-12 col-lg-7">

    <h3 class="text-center mb-4">Workflow</h3>

    <!-- Etapa de configuración -->
    <h4 class="mb-4">Etapa de configuración</h4>

    <!-- Paso 1 -->
    <div class="text-center mb-5">

        <div class="d-flex justify-content-center align-items-start gap-5 flex-wrap">
            <img src="assets/img/etapa1.png" class="img-fluid" alt="etapa 1 plan de accion flujo de trabajo">
        </div>

        <p class="mt-4 italic text-center">
            Primero, se hace un discovery integral de la situación actual de la inmobiliaria.
            Luego, se comienza a dar de alta todo lo relacionado con la página web, analíticas,
            se crea un plan de acción con los datos analizados y se implementa el mismo.
        </p>
    </div>

    <!-- Etapa de desarrollo -->
    <h4 class="mb-4">Etapa de desarrollo</h4>

    <div class="d-flex justify-content-center align-items-start gap-5 flex-wrap">
            <img src="assets/img/etapa2.png" class="img-fluid" alt="etapa 2 plan de accion flujo de trabajo">

    </div>

    <p class="mt-4 italic text-center">
        Una vez que ya tenemos la estrategia, ésta se implementa, se hacen ajustes semanales
        en la campaña en caso de ser necesario y de estar obteniendo malos resultados. Como
        último punto, se recurre a la mejora continua, se hace un reporte mensual de todos
        los resultados y números, y se propone un nuevo plan de acción para mejorar esos
        resultados y volver a comenzar.
    </p>

    </div>
</section>
