<app-nav></app-nav> 
<div class="container">
  <app-head></app-head>
  <app-values></app-values>
  <app-services-mkt></app-services-mkt>
  <app-workflow></app-workflow> 
  <app-pre-footer></app-pre-footer>
</div>

  <a 
  href="https://wa.me/{{phone}}?text=Hola,%20quiero%20más%20info" 
  target="_blank"
  class=" whatsapp-float d-flex align-items-center justify-content-center">
  <img src="assets/img/Digital_Glyph_Green.png" class="img-fluid" alt="Logo de WhatsApp para contacto">
  </a>

 <app-footer></app-footer> 


