.back{
    color: var(--blue);
    background-color: #fff;
}
.text h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}

.text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.1rem 0;
}

.marci-mkt {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.marci-mkt-phone{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.carousel-container{
    width: 21rem;
    height: 12.938rem;
    background-color: var(--light-green);
    display: block;
    box-shadow: inset;
    border-radius: 1.5rem;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
    margin-bottom: 1.1rem;
    margin-top: 1rem;
}
