/* You can add global styles to this file, and also import other style files */
:root{
    --yellow: #fad516;
    --dark-yellow: #dfbf1a;
    --blue: #2b5b8e;
    --dark-blue:#244b75;

}
body{
    background-color: #fff;
    font-family: 'Montserrat',  sans-serif !important;
}

.offcanvas-backdrop {
  background-color: #fff !important; 
}

/*
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}*/

html, body { 
  height: 100%; 
  scroll-behavior: smooth;
}

.btn-main {
  --bs-btn-bg: var(--yellow);
  --bs-btn-color: white;
  --bs-btn-border-color: var(--dark-yellow);

  --bs-btn-hover-bg: var(--dark-yellow);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: var(--yellow);

  --bs-btn-active-bg: var(--yellow);
  --bs-btn-active-color: white;
  --bs-btn-active-border-color: var(--dark-yellow);
}

.btn-blue {
  --bs-btn-bg: var(--blue);
  --bs-btn-color: white;
  --bs-btn-border-color: var(--dark-blue);

  --bs-btn-hover-bg: var(--dark-blue);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: var(--blue);

  --bs-btn-active-bg: var(--blue);
  --bs-btn-active-color: white;
  --bs-btn-active-border-color: var(--dark-blue);
}
.btn-second{
  --bs-btn-bg: white;
  --bs-btn-color: var(--blue);
  --bs-btn-border-color: var(--blue);

  --bs-btn-hover-bg: var(--dark-blue);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: var(--blue);

  --bs-btn-active-bg: var(--blue);
  --bs-btn-active-color: white;
  --bs-btn-active-border-color: var(--dark-blue);
}

.link-wp{
  color: white !important;
  text-decoration: none;
}

.link-wp:hover {
  color: white !important;        /* evita que cambie al pasar el mouse */
  text-decoration: none;
}


