.full-width-section {
    background-color: var(--blue);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}


/* Texto */
.full-width-section h2 {
    color: #ffffff;
    font-weight: 700;
}

.full-width-section p {
    color: #ffffff;
    font-style: italic;
}

/* Imagen redondeada */
.full-width-section img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    max-width: 220px;
}
